#container {
  width: 600px;
  border: 1px solid black;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
}

span {
  font: normal 16px sans-serif;
}

#submit {
  border-radius: 5px;
  font: bold 14px sans-serif;
  padding: 2px;
  margin-left: 10px;
}

table, tr {
  width: 600px;
  margin: 0px auto;
  border-collapse: collapse;
}

td, th {
  width: 200px;
  border: 1px solid black;
}

.del {
  margin: 0px;
  border-radius: 5px;
}