
body{
  margin:5px;
  padding:0px;
  font-family:"Tahoma", "arial";
 }

div#header{
  background-color:#b2e7ff;
  border-bottom:2px solid #0ab1ff;
  width: 1000px;
  height: 100px;
 }

div#header p{
  font-size:24px;
  color:black;
  text-align:center;
  vertical-align:middle;
  line-height:100px;
  margin:0px;
 }

div#main-container{
  width:1000;
  display:table-row;
  height:100%;
  margin:0px;
 }

div#side-bar{
  display:table-cell;
  width:250px;
  height:100%;
  background:#0ab1ff;
  margin:0px;
 }

div#side-bar p#side-heading{
  font-size:18px;
  color:black;
  padding:25px 10px 10px;
 }

div.links{
  font-size:14px;
  color:white;
  padding-left:10px;
  padding-right:10px;
 }

div.links a{
  color:white;
  text-decoration:none;
 }

div#side-bar p#side-content{
  font-size:12px;
  color:black;
  padding:10px 10px 25px;
 }

div#main-page{
  display:table-cell;
  width:750px;
  background:#ededed;
  height:100%;
 }

div#main-page p#heading1{
  font-size:24px;
  color:black;
  padding:20px;
 }

div#main-page p.main-content{
  font-size:14px; 
  color:#802525;
  padding-left:20px;
  padding-right:20px;
 }

div#footer{
  background:#3cff78;
  border-bottom:2px solid #0ab1ff;
  width:1000px;
  height:100px;
 }

div#footer p{
  font-size:24px;
  color:black;
  text-align: center;
  vertical-align:middle;
  line-height:100px;
  margin:0px;
 }
